<!--Kontrollera om det finns ett felmeddelande som ska visas-->
<% if (locals.errorMessage != null) { %>
<!-- Visa felmeddelandet om det finns ett -->
<div class="error-message"><%= errorMessage %></div>
<% } %>
