<link rel="stylesheet" href="/stylesheets/style.css" />
<header>
  <nav class="header-nav">
    <a class="header-title" href="/"><strong>ReceptHörnan</strong></a>
    <ul>
      <li></strong>
        <a href="/recipes"><strong>Recept</strong></a>
      </li>

      <li>
        <a href="/recipes/new"><strong>Lägg till recept</strong></a>
      </li>
      <li>
        <a href="/cooks"><strong>Kockar</strong></a>
      </li>

      <li>
        <a href="/cooks/new"><strong>Lägg till kockar</strong></a>
      </li>
    </ul>
  </nav>
</header>
