<link rel="stylesheet" href="/stylesheets/style.css" />
<header>
  <nav class="header-nav">
    <a class="header-title" href="/"><strong>ReceptHörnan</strong></a>
    <ul>
      <li>
        <a href="/cooks">Kockar</a>
      </li>

      <li>
        <a href="/cooks/new">Lägg till kockar</a>
      </li>

      <li>
        <a href="/recipes">Recept</a>
      </li>

      <li>
        <a href="/recipes/new">Lägg till recept</a>
      </li>
    </ul>
  </nav>
</header>
