<header>
  <nav>
    <a href="/">ReceptHörnan</a>
    <ul>
      <li>
        <a href="/cooks">Kokar</a>
      </li>
      <li>
        <a href="/cooks/new">Lägg till kokar</a>
      </li>
    </ul>
  </nav>
</header>
