<header>
  <nav>
    <a href="/">ReceptHörnan</a>
    <ul>
      <li>
        <a href="/cooks">Kokar</a>
      </li>
      <li>
        <a href="/cooks/new">Lägg till kokar</a>
      </li>

      <li>
        <a href="/recipes">Recept</a>
      </li>
      <li>
        <a href="/recipes/new">Lägg till recept</a>
      </li>
    </ul>
  </nav>
</header>
