<!--Denna fil är som en gemensam layout till alla sidor -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReceptHörnan</title>
  </head>
  <body>
    <!--går till filen header genom att ta sig igenom alla andra filer för att sedan kunna se den i webbsidan-->
    <%- include('../partials/header.ejs') %>
    <%-include('../partials/errorMessage.ejs') %> <%- body %>
  </body>
</html>
