<h2>Nyligen tillagd</h2>

<div>
  <% recipes.forEach(recipe => { %>
  <a href="/recipes/<%= recipe.id %>">
    <img height="150" width="100" src="<%= recipe.coverImagePath %>" />
  </a>
  <% }) %>
</div>
