<h1 class="page-header">Registrera dig</h1>
<form action="/register" method="POST">
  <div class="form-row">
    <div class="form-item">
      <label for="name">Användarnamn</label>
      <input type="text" id="name" name="name" required />
    </div>
    <div class="form-item">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="form-item">
      <label for="password">Lösenord</label>
      <input type="password" id="password" name="password" required />
    </div>
  </div>
  <br>
  <div class="btn-row">
  <button class="btn btn-yes" type="submit">Registrera dig</button>
</form>
<a class="btn btn-yes" href="/login">Logga in</a>
</div>
