:root {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 20px;
}

.inner-container {
  margin: 0 100px;
}

/*Header*/
.header-title {
  color: blue;
  text-decoration: none;
  font-size: 40px;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.header-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav li {
  list-style: none;
}

.header-nav li a {
  text-decoration: none;
  color: orange;
  padding: 16px;
}

.header-nav li a:hover,
.header-title:hover {
  color: rgb(237, 0, 0);
}

.page-header {
  font-size: 30px;
}

/*knappar*/
.btn {
  border: 5px solid green;
  /*ändra från rem till px*/
  border-radius: 0.5rem;
  padding: 10px 15px;
  font-size: 15px;
  font-family: "Notino", sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn-row {
  display: flex;
  align-items: flex-start;
}

.btn-row > * {
  margin-left: 1rem;
}

.btn-row > *:first-child {
  margin-left: 0;
}

.btn-yes {
  color: yellow;
  background-color: orange;
}

.btn-yes:hover {
  color: black;
  background-color: gray;
}

.btn-no {
  color: red;
  background-color: var(--color-btn-danger-background);
}

.btn-no:hover {
  color: var(--color-btn-danger-text-dark);
  background-color: var(--color-btn-danger-background-dark);
}

/*formulär*/
.form-row {
  display: flex;
  margin-bottom: 0.5rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  flex-grow: 1;
  flex-basis: 0;
}

.form-item:first-child {
  margin-left: 0;
}

.form-item-no-grow {
  flex-grow: 0;
}

.form-row-end {
  justify-content: flex-end;
}

.form-item > label {
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}

.form-item input,
.form-item select,
.form-item textarea {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid blue;
  background-color: rgb(164, 164, 164);
  color: orange;
  font-size: 1rem;
  font-weight: normal;
  font-family: "Notino", sans-serif;
  outline: none;
}

.form-item textarea {
  height: 100%;
  resize: none;
}

.form-item select option {
  background-color: black;
}

.form-item input:focus,
.form-item select:focus,
.form-item textarea:focus {
  border-color: blueviolet;
}

.filepond--root {
  font-family: "Notino", sans-serif;
  margin-bottom: 0;
}

.filepond--panel-root {
  background-color: pink;
  border: 3px solid gray;
}

.filepond--drop-label {
  color: rgb(255, 55, 0);
  font-size: inherit;
}
