@import "shared/recipes.css";

:root {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f4f2ee;
}

.container {
  margin: auto;
  margin-bottom: 20px;
}

.inner-container {
  margin: 0 50px;
}

#welcome {
  font-size: 40px;
}

.columns {
  flex: 1;
  margin: 6px;
  padding: 50px;
  transition: 0.3s;
  border-radius: 30px;
  box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.1);
  background-color: #305f51;
}

.columns2 {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
}

.column1 {
  flex: 1;
  margin: 6px;
  padding: 50px;
  transition: 0.3s;
  border-radius: 30px;
  box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.1);
  background-color: #305f51;
}

.column2 {
  flex: 2;
  margin: 6px;
  padding: 50px;
  transition: 0.3s;
  border-radius: 30px;
  box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.1);
  background: #ece9e1;
}

#button {
  position: fixed;
  bottom: 15px;
  left: 10px;
  cursor: pointer;
  display: flex;
}

/*Header*/
.header-title {
  color: #315e52;
  text-decoration: none;
  font-size: 40px;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  background-color: #a4d3c4;
  padding: 20px;
}

.header-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav li {
  list-style: none;
}

.header-nav li a {
  text-decoration: none;
  color: #785c56;
  background-color: #fedfd6;
  padding: 9px;
  border: 3px solid #fbd0c4;
  margin-left: 8px;
  border-radius: 200px;
}

.header-nav li a:hover {
  background-color: #fbd0c4;
  position: relative;
  top: -4px;
}

.page-header {
  font-size: 30px;
}

/*knappar*/
.btn {
  border-radius: 200px;
  padding: 0.5rem 1rem;
  font-family: "Notino", sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

.btn-row {
  display: flex;
  align-items: flex-start;
}

.btn-row > * {
  margin-left: 1rem;
}

.btn-row > *:first-child {
  margin-left: 0;
}

.btn-yes {
  color: rgb(69, 68, 68);
  background-color: #fad993;
  border: 3px solid #e3bf70;
}

.btn-yes:hover {
  color: rgb(69, 68, 68);
  background-color: #e3bf70;
  border: 3px solid #e3bf70;
}

.btn-no {
  color: black;
  background-color: #f98a62;
  border: 3px solid #e67b54;
}

.btn-no:hover {
  color: rgb(69, 68, 68);
  background-color: #e67b54;
  border: 3px solid #e67b54;
}

/*formulär*/
.form-row {
  display: flex;
  margin-bottom: 0.5rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  flex-grow: 1;
  flex-basis: 0;
}

.form-item:first-child {
  margin-left: 0;
}

.form-item-no-grow {
  flex-grow: 0;
}

.form-row-end {
  justify-content: flex-end;
}

.form-item > label {
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}

.form-item input,
.form-item select,
.form-item textarea {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 2px solid #785c56;
  background-color: #ffffff;
  color: #7e7b7b;
  font-size: 1rem;
  font-weight: normal;
  font-family: "Notino", sans-serif;
  outline: none;
}

.form-item textarea {
  height: 100%;
  resize: none;
}

.form-item select option {
  background-color: rgb(26, 26, 26);
}

.form-item input:focus,
.form-item select:focus,
.form-item textarea:focus {
  border-color: #305f51;
}

.filepond--root {
  font-family: "Notino", sans-serif;
  margin-bottom: 0;
}

.filepond--panel-root {
  background-color: #ffffff;
  border: 2px solid #785c56;
}

.filepond--drop-label {
  color: #7e7b7b;
  font-size: inherit;
}

/*namnen på alla kockar*/
.cook-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cook-name {
  font-size: 1.5rem;
}

/*bilder på maträtter*/
.recipe-cover {
  width: 310px;
  height: calc(310px / 1.7714);
}

.recipe-cover-large {
  width: 310px;
  height: calc(310px / 1.7714);
}

.recipe-grid {
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 310px);
}

.recipe-grid-large {
  grid-template-columns: repeat(auto-fill, 310px);
}

.recipe-details {
  display: flex;
}

.recipe-details-label {
  font-weight: 500;
  align-self: flex-start;
  font-weight: bold;
  font-size: 19px; /* Storlek på etiketterna */
}

.recipe-details-grid {
  display: grid;
  align-content: flex-start;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
  gap: 20px; /* Justera mellanrummet mellan kolumner och rader */
  font-size: 17px; /* Standard textstorlek */
}

.recipe-details-btn-grid {
  display: grid;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-areas:
    "edit delete"
    "cook cook";
  grid-gap: 0.5rem;
  margin-top: 0.5rem;
}

.recipe-details-cook-button {
  grid-area: cook;
  justify-self: stretch;
}

.recipe-grid .recipe-cover {
  transition: transform 0.3s ease; /* Smooth transition */
  border-radius: 30px;
  box-shadow: 1px 1px 9px 10px rgba(0, 0, 0, 0.1);
}

.recipe-grid .recipe-cover:hover {
  transform: translateY(-10px); /* Move up by 10px on hover */
}

/*till error message*/
.error-message {
  color: rgb(255, 32, 69);
}

/*responsive*/

@media screen and (max-width: 988px) {
  .recipe-details-label {
    font-size: 15px; /* Storlek på etiketterna */
  }

  .recipe-details-grid {
    font-size: 13px; /* Standard textstorlek */
  }

  .recipe-cover {
    width: 260px;
    height: calc(260px / 1.7714);
  }

  .recipe-cover-large {
    width: 310px;
    height: calc(310px / 1.7714);
  }
}

@media screen and (max-width: 860px) {
  .inner-container {
    margin: 0 5px;
  }

  .recipe-cover-large {
    width: 300px;
    height: calc(300px / 1.7714);
  }
}

@media screen and (max-width: 765px) {
  .recipe-details {
    flex-direction: column;
    align-items: center; /* Centrera innehållet vertikalt */
  }

  .column1,
  .column2 {
    width: 100%;
    margin: 6px 0;
    text-align: center; /* Centrera knapparna horisontellt */
  }

  .recipe-cover {
    width: 100%; /* Ta upp hela bredden av kolumnen */
    height: auto; /* Anpassa höjden automatiskt för att behålla proportionerna */
    max-width: 370px; /* Sätt en maxbredd för att förhindra att bilden blir för stor */
  }

  .recipe-details-btn-grid {
    margin-top: 10px; /* Öka avståndet mellan knapparna och den övre kolumnen */
  }

  .form-item-no-grow {
    flex-grow: 1;
  }
}

@media screen and (max-width: 500px) {
  .header-nav li a {
    display: block;
    margin-bottom: 10px; /* Justera avståndet mellan länkarna */
    text-align: center;
  }

  .login-form .form-row {
    flex-direction: column;
  }

  .login-form .form-item {
    margin-left: 0;
  }

  .login-form .form-item + .form-item {
    margin-top: 1rem; /* Lägg till lite utrymme mellan fälten */
  }
}
