<h2>Redigera recept</h2>

<form action="/recipes/<%= recipe.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>

  <div class="form-row form-row-end btn-row">
    <a class="btn btn-no" href="/recipes">Avbryt</a>
    <button class="btn btn-yes" type="submit">Uppdatera</button>
  </div>
</form>
