<h2 class="page-header">Sök efter recept</h2>

<form action="/recipes" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Titel</label>
      <input type="text" name="title" value="<% searchOptions.title %>" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-item">
      <label>Publicerad efter</label>
      <input
        type="date"
        name="publishedAfter"
        value="<% searchOptions.publishedAfter %>"
      />
    </div>
    <div class="form-item">
      <label>Publicerad innan</label>
      <input
        type="date"
        name="publishedBefore"
        value="<% searchOptions.publishedBefore %>"
      />
    </div>
  </div>

  <div class="form-row form-row-end">
    <button class="btn btn-yes" type="submit">Sök</button>
  </div>
</form>
<br />
<div class="columns">
  <%- include('../partials/recipeGrid', { recipes: recipes, large: true}) %>
</div>
<form action="/logout?_method=DELETE" method="POST">
  <button class="btn btn-no" id="button" type="submit">Logga ut</button>
</form>
