<h2 class="page-header">Redigera kockar</h2>

<!-- Formulär för att redigera kocken -->
<form action="/cooks/<%= cook.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>

  <!-- Knappar för att avbryta eller uppdatera redigeringen -->
  <div class="form-row form-row-end btn-row">
    <!-- Knapp för att avbryta redigeringen och gå tillbaka till kockens sida -->
    <a class="btn btn-no" href="/cooks/<%=cook.id  %>">Avbryt</a>
    <!-- Knapp för att skicka formuläret och uppdatera kockens information -->
    <button class="btn btn-yes" type="submit">Uppdatera</button>
  </div>
</form>
<form action="/logout?_method=DELETE" method="POST">
  <button class="btn btn-no" id="button" type="submit">Logga ut</button>
</form>
