<h2 class="page-header">Redigera kockar</h2>

<form action="/cooks/<%= cook.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>

  <div class="form-row form-row-end btn-row">
    <a class="btn btn-no" href="/cooks/<%=cook.id  %>">Avbryt</a>
    <button class="btn btn-yes" type="submit">Uppdatera</button>
  </div>
</form>
