<h2 class="page-header">Sök på kockar</h2>

<form action="/cooks" method="GET">
  <label>Namn</label>
  <input type="text" name="name" value="<% searchOptions.name %>" />
  <button type="submit">Sök</button>
</form>
<br />
<% cooks.forEach(cook => { %>
<div><%=cook.name%></div>
<div class="btn-row">
  <a class="btn btn-yes" href="/cooks/<%= cook.id %>">View</a>

  <a class="btn btn-yes" href="/cooks/<%= cook.id %>/edit">Edit</a>

  <%- include('../partials/deleteForm', { url: `/cooks/${cook.id}` }) %> <% })
  %>
</div>
