<h2 class="page-header">Nya kockar</h2>

<form action="/cooks" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-no" href="/cooks">Avbryt</a>
    <button class="btn btn-yes" type="submit">Skapa</button>
  </div>
</form>
