<h2 class="page-header"><%= cook.name %></h2>
<div class="btn-row">
  <a class="btn btn-yes" href="/cooks/<%= cook.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm', { url: `/cooks/${cook.id}` }) %>
</div>

<% if(recipesByCook.length > 0) { %>
<h2 class="page-header">Recipes By Cook</h2>
<%- include('../partials/recipeGrid', { recipes: recipesByCook }) %> <% } %>
